[submodule "packages/serve-sim"]
	path = packages/serve-sim
	url = https://github.com/expo/serve-sim.git
	branch = expo-device-hub
	ignore = untracked

[submodule "packages/serve-emu"]
	path = packages/serve-emu
	url = https://github.com/expo/serve-emu.git
	branch = temperature-fps-experiments-experimental
	ignore = untracked
